@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {background-image: url("bg.png"); background-size: cover;}

:root {
  --dark-one: #333;
  --dark-two: #7a7a7a;
  --main-color: #784cfb;
  --light-one: #fff;
  --light-two: #f9fafb;
  --light-three: #f6f7fb;
}

/* Genral Styles */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, button, input, textarea {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container1 {
  position: relative;
  z-index: 5;
  max-width: 92rem;
  padding: 0 4rem;
  margin: 0 auto;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 1.25rem;
  color: var(--dark-two);
  line-height: 1.6;
}

.column-1 {
  margin-right: 1.5rem;
}

.z-index {
  position: relative;
  z-index: 2;
}


.section {
  padding: 7rem 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.title {
  position: relative;
  display: inline-block;
  padding-bottom: 1rem;
  line-height: 1;
  font-size: 2.8rem;
  margin-bottom: 0.6rem;
}

.title:before {
  content: attr(data-title);
  display: block;
  margin-bottom: 0.4rem;
  color: #784cfb;
  font-size: 1.15rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.title:after {
  content: "";
  position: absolute;
  width: 90px;
  height: 5px;
  border-radius: 3px;
  background-color: #784cfb;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.section-header .text {
  max-width: 600px;
  margin: 0 auto;
}

.title-sm {
  color: #333;
  font-weight: 600;
  font-size: 1.6rem;
}

.btn {
  display: inline-block;
  padding: 0.85rem 2rem;
  background-color: #784cfb;
  color: var(--light-one);
  border-radius: 2rem;
  font-size: 1.05rem;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.3s;
}

.btn:hover {
  background-color: #6b44e0;
}

.btn.small {
  padding: 0.7rem 1.8rem;
  font-size: 1rem;
}

/* End Genral Styles */

/* Header */

nav {background-color: #313030; width: 100%; padding-bottom: 20px; position: fixed; z-index: 999; }

.links ul {
  display: flex;
}

.links a {
  display: inline-block;
  padding: 0.9rem 5.9rem;
  font-weight: 600;
  color: #8669dd;
}

.links a:hover {
  color: rgba(57, 6, 243, 0.979);
  font-weight: 800;
}

.header-img {
    margin-left: 220px;
    border: #8669dd 10px outset;
    border-radius: 50%;} 

.header-content .container1.grid-2 {
  min-height: calc(100vh - 6rem);
  padding-bottom: 1rem;
  margin-left: 90px;
  text-align: left;
}

.header-title {
  font-size: 3.8rem;
  line-height: 0.8;
  color:#373737;
}

.header-content .text {
  margin: 2.15rem 0;
  color:#373737c4;
}

/* End header */

/* Services */

.card {
  position: relative;
  width: 100%;
  max-width: 390px;
  min-height: 520px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem 2rem;
  overflow: hidden;
  transition: 0.3s;
}

.card .title-sm {
  line-height: 0.8;
  margin-top: 18px;
}

.card .text {
  font-size: 1.15rem;
  margin: 1.8rem 0;
}

/* End Services */

/* Projects */

.projectcard {
  border-radius: 5%; 
  margin-top: 0px;
}

.projectcard img {
  border-radius: 5%; 
}

.project-title {
  text-align: center;  
  margin: 0 auto;
}


.projectcard {
  max-width: 420px;
  width: 100%;
  overflow: hidden;
  background-color: var(--light-two);
  transition: 0.3s;
  position: relative;
  border-radius: 5%;
}

.wide {height: 240px !important;}

.projectcard:hover {
  transform: translateY(-15px);
}


.blog-info h5 {
  color: var(--main-color);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.05rem;
  letter-spacing: 2px;
}


.project-description {
  margin: 0.5rem 0 1.5rem 0;
  font-size: .8rem;
  line-height: 1.6;
  color: #666;
}



/* End Blog */

/* Contact */

.contact {
  position: relative;
  width: 100%;
  padding: 13.5rem 0 8.5rem;
}

.contact-box {
  width: 100%;
  background-color: var(--light-one);
  width: 100%;
  border-radius: 45px;
  padding: 5.5rem 4.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.badge {font-size: 1.3rem; color: white !important; }
.copyright {font-weight: 800 !important;}

.contact-info {
  padding-right: 2rem;
}

.contact-form {
  padding-left: 2rem;
}

.contact-info .title:after {
  left: 0;
  transform: initial;
}

.information-wrap {
  margin-top: 2rem;
}

.information {
  display: flex;
  align-items: center;
}

.information:not(:last-child) {
  margin-bottom: 1.3rem;
}

.contact-icon {
  min-width: 67px;
  height: 67px;
  display: inline-block;
  border-radius: 50%;
  background-color: var(--main-color);
  color: var(--light-one);
  text-align: center;
  font-size: 1.4rem;
  margin-right: 1rem;
}

.contact-icon i {
  line-height: 67px;
}

.info-text {
  font-size: 1.3rem;
  display: inline-block;
}

.contact-form .title:after {
  display: none;
}

.contact-form .title {
  margin: 0;
}

.contact-form .row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-column-gap: 0.6rem;
}

.contact-input {
  padding: 1.2rem 2.1rem;
  margin: 0.6rem 0;
  border: none;
  outline: none;
  background: #e9e7e7;
  border-radius: 4rem;
  font-weight: 600;
  font-size: 1.25rem;
  transition: 0.3s;
}

.contact-input::placeholder {
  font-weight: 400;
}

.contact-input.textarea {
  resize: none;
  min-height: 280px;
  border-radius: 2rem;
}

.contact-input .btn {
  margin-top: 0.6rem;
}

/* End Contact */


/* Footer */

.footer {
  background-color: #222;
  width: 100%;
  padding: 5px;
  padding-right: 0px;
  margin: 0px !important;
}

.footer .text {
  color: #aaa;
}

.footer-links a {
  color: #888;
  font-size: 1.25rem;
  display: inline-block;
  transition: 0.3s;
}

.footer-links a:hover {
  color: var(--main-color);
}

.copyright .text {
  color: #7b7b7b;
  font-size: 1.2rem;
  display: inline-block;
  text-align: center;
}

.copyright .text span {
  color: var(--main-color);
  cursor: pointer;
}



@keyframes scale {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.15;
  }

  100% {
    transform: translate(-50%, -50%) scale(1.6);
    opacity: 0;
  }
}

/* End Footer */

/* Responsive */

@media (max-width: 1280px) {
  .text {
    font-size: 1rem;
  }

  .title {
    font-size: 2.1rem;
    padding-bottom: 0.65rem;
  }

  .title:before {
    margin-bottom: 0.2rem;
    font-size: 0.8rem;
    letter-spacing: 2px;
  }

  .title:after {
    height: 3.5px;
    width: 70px;
  }

  .title-sm {
    font-size: 1.2rem;
  }

  .btn {
    padding: 0.75rem 1.7rem;
    font-size: 0.8rem;
  }

  .btn.small {
    padding: 0.65rem 1.6rem;
    font-size: 0.7rem;
  }

  .section-header .text {
    max-width: 500px;
  }

  .section {
    padding: 4.5rem 0;
  }

  .column-1 {
    margin-right: 1rem;
  }


  .header-content .image .img-element {
    max-width: 500px;
  }

  nav .container1 {
    height: 4.5rem;
  }

  .header-content .container1.grid-2 {
    min-height: calc(100vh - 4.5rem);
    padding-bottom: 1.5rem;
  }

  .links a {
    font-size: 0.8rem;
    padding: 0.65rem 0.7rem;
  }

  .links a.active {
    font-size: 0.7rem;
    padding: 0.7rem 1.7rem;
    margin-left: 0.6rem;
  }

  .header-title {
    font-size: 2.6rem;
  }

  .header-content .text {
    margin: 1.1rem 0;
  }

  .card {
    min-height: 390px;
    max-width: 290px;
    padding: 2.2rem 1.5rem;
  }

  .icon {
    width: 65px;
    margin-bottom: 0.8rem;
  }

  .card .text {
    font-size: 0.9rem;
    margin: 1rem 0;
  }

  .card:before {
    font-size: 5rem;
  }

  .grid {
    margin: 0.8rem 0;
  }

  .grid-item {
    padding: 0.8rem;
  }

  .plus:before,
  .plus:after {
    width: 2.8rem;
  }

  
  .blog-wrap {
    margin: 0.7rem 0.5rem;
  }

  .blog-card {
    max-width: 315px;
  }

  .blog-image {
    height: 200px;
  }

  .blog-content {
    padding: 1.8rem 1.7rem 1.9rem 1.7rem;
  }

  .blog-info {
    margin-bottom: 0.2rem;
  }

  .blog-info > * {
    font-size: 0.75rem !important;
  }

  .blog-text {
    font-size: 0.9rem;
    margin: 0.2rem 0 0.8rem 0;
  }

  .contact {
    padding: 9rem 0 6rem 0;
  }

  .contact-form {
    padding-left: 1rem;
  }

  .contact-info {
    padding-right: 1rem;
  }

  .contact-box {
    padding: 3.6rem 3rem;
  }

  .information-wrap {
    margin-top: 1.2rem;
  }

  .contact-icon {
    min-width: 50px;
    height: 50px;
    font-size: 1rem;
    margin-right: 0.8rem;
  }

  .contact-icon i {
    line-height: 50px;
  }

  .info-text {
    font-size: 1.05rem;
  }

  .contact-input {
    font-size: 0.9rem;
    padding: 0.9rem 1.6rem;
    margin: 0.4rem 0;
  }

  .footer {
    margin:0 auto !important; 
    padding: 20px;
  }

  .input-arrow {
    font-size: 1.2rem;
  }

  .copyright .text {
    font-size: 0.95rem;
  }

 
}

@media (max-width: 850px) {
  .header-img { margin: 0 auto; margin-top: 25px;}

  .grid-2 {
    grid-template-columns: 1fr !important;
  }

  .column-1 {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .column-2 {
    margin-left: 0;
    margin-top: 1rem;
  }

  .header-content {
    margin-top: 1rem;
  }

  .header-title {
    font-size: 2.3rem;
  }

  .header-content .image {
    max-width: 400px;
    margin: 0 auto;
  }

  header .column-1 {
    max-width: 550px;
    margin: 0 auto;
  }

  .links {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: #252525;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translateX(100%);
    transition: 0.5s;
  }

  .links ul {
    flex-direction: column;
  }

  .links a {
    color: var(--light-one);
  }

  .links a.active {
    margin-left: 0;
    margin: 0.5rem 0;
  }

  .header-content .container1.grid-2 {
    min-height: 80vh;
  }

  .grid-item {
    width: 50%;
  }


  .about .column-1:before {
    font-size: 5rem;
  }

  .records .container1 {
    grid-template-columns: repeat(2, 1fr);
  }


  .testi-content .image {
    max-width: 500px;
    margin: 0 auto;
  }


  .contact-box {
    grid-template-columns: 1fr;
    padding: 3.2rem 2.7rem;
  }

  .contact-info {
    padding-right: 0;
    padding-bottom: 0.5rem;
  }

  .contact-form {
    padding-left: 0;
    padding-top: 0.5rem;
  }

  .information-wrap {
    margin-top: 0.7rem;
  }

  .information:not(:last-child) {
    margin-bottom: 0.8rem;
  }

  .contact-input.textarea {
    min-height: 220px;
  }

  .contact:before {
    height: 25%;
  }

  .contact:after {
    height: 75%;
    top: 25%;
  }

 
}

@media (max-width: 600px) {
  .grid-item {
    width: 100%;
  }

  .header-img { margin: 0 auto; margin-top: 25px;}
}

@media (max-width: 560px) {
  .container {
    padding: 0 2rem;
  }

  .title {
    font-size: 1.8rem;
  }

  .text {
    font-size: 0.92rem;
  }

  .contact {
    padding: 8rem 0 5rem 0;
  }

  .contact-info {
    display: none;
  }

  .contact-box {
    padding: 2.3rem 2rem;
    border-radius: 30px;
  }

  .contact:before {
    background-size: 200%;
  }

  .contact-form .row {
    grid-column-gap: 0.3rem;
  }

  .contact-input {
    font-size: 0.8rem;
    padding: 0.8rem 1.4rem;
    margin: 0.25rem 0;
  }

 .header-img { 
  margin: 0 auto; 
  margin-top: 25px;
 }



}

/* End Responsive */